@import '../Variables.module';

.carbon-timeline-content-group {
  .carbon-point,
  .carbon-selected-data-point {
    &[aria-hidden='true'] {
      @include terra-graph-opacity-hide();
    }
  }
}

.carbon-timeline-criticality-outer {
  fill: var(--terra-graphs-red85);
  stroke: var(--terra-graphs-red85);
  stroke-width: 19px;
}

.carbon-timeline-criticality-inner {
  fill: var(--terra-graphs-white);
  stroke: var(--terra-graphs-white);
  stroke-width: 7px;
}

.carbon-timeline-criticality-outer,
.carbon-timeline-criticality-inner {
  &[aria-hidden='true'] {
    @include terra-graph-opacity-hide();
  }

  &.carbon-highlight {
    @include terra-graph-opacity-show();
  }
}
