@charset "UTF-8";
/*
Animations should be fast and nimble, never keeping the user waiting longer than is necessary.
The aim is to prioritize user-perceived performance over technical benchmarks.
Animations should last 150ms–250ms and should feel quick and responsive.
Using cubic-bezier with ->
Incoming Velocity: 70%
Outgoing Velocity: 0%
We quickly accelerate at the beginning of the animation and slowly decelerate by the end.
*/
:root {
  --default-transition-timing: cubic-bezier(0.07, 0.95, 0, 1);
  --default-transition-duration: 1s;
}

/*
User agent gives `geometric precision` more importance than `speed` and `crisp edges`
*/
:root {
  --line-transition-duration: 0.3s;
}

.carbon-line path {
  /* To counteract the opacity change when blur is used on a line */
  -moz-transition: opacity 0.3s cubic-bezier(0.07, 0.95, 0, 1);
  -moz-transition: opacity var(--line-transition-duration) var(--default-transition-timing);
  -webkit-transition: opacity 0.3s cubic-bezier(0.07, 0.95, 0, 1);
  -webkit-transition: opacity var(--line-transition-duration) var(--default-transition-timing);
  -ms-transition: opacity 0.3s cubic-bezier(0.07, 0.95, 0, 1);
  -ms-transition: opacity var(--line-transition-duration) var(--default-transition-timing);
  -o-transition: opacity 0.3s cubic-bezier(0.07, 0.95, 0, 1);
  -o-transition: opacity var(--line-transition-duration) var(--default-transition-timing);
  transition: opacity 0.3s cubic-bezier(0.07, 0.95, 0, 1);
  transition: opacity var(--line-transition-duration) var(--default-transition-timing);
  fill: none;
  stroke-width: 1px;
}
.carbon-line path.carbon-highlight {
  -moz-transition: stroke 1s cubic-bezier(0.07, 0.95, 0, 1), -moz-transform 1s cubic-bezier(0.07, 0.95, 0, 1);
  -moz-transition: stroke var(--default-transition-duration) var(--default-transition-timing), -moz-transform var(--default-transition-duration) var(--default-transition-timing);
  -webkit-transition: stroke 1s cubic-bezier(0.07, 0.95, 0, 1), -webkit-transform 1s cubic-bezier(0.07, 0.95, 0, 1);
  -webkit-transition: stroke var(--default-transition-duration) var(--default-transition-timing), -webkit-transform var(--default-transition-duration) var(--default-transition-timing);
  -ms-transition: stroke 1s cubic-bezier(0.07, 0.95, 0, 1), -ms-transform 1s cubic-bezier(0.07, 0.95, 0, 1);
  -ms-transition: stroke var(--default-transition-duration) var(--default-transition-timing), -ms-transform var(--default-transition-duration) var(--default-transition-timing);
  -o-transition: stroke 1s cubic-bezier(0.07, 0.95, 0, 1), -o-transform 1s cubic-bezier(0.07, 0.95, 0, 1);
  -o-transition: stroke var(--default-transition-duration) var(--default-transition-timing), -o-transform var(--default-transition-duration) var(--default-transition-timing);
  transition: stroke 1s cubic-bezier(0.07, 0.95, 0, 1), transform 1s cubic-bezier(0.07, 0.95, 0, 1);
  transition: stroke var(--default-transition-duration) var(--default-transition-timing), transform var(--default-transition-duration) var(--default-transition-timing);
  stroke-width: 2px;
}
.carbon-line path[aria-hidden=true] {
  -moz-transition: opacity 1s cubic-bezier(0.07, 0.95, 0, 1), -moz-transform 1s cubic-bezier(0.07, 0.95, 0, 1);
  -moz-transition: opacity var(--default-transition-duration) var(--default-transition-timing), -moz-transform var(--default-transition-duration) var(--default-transition-timing);
  -webkit-transition: opacity 1s cubic-bezier(0.07, 0.95, 0, 1), -webkit-transform 1s cubic-bezier(0.07, 0.95, 0, 1);
  -webkit-transition: opacity var(--default-transition-duration) var(--default-transition-timing), -webkit-transform var(--default-transition-duration) var(--default-transition-timing);
  -ms-transition: opacity 1s cubic-bezier(0.07, 0.95, 0, 1), -ms-transform 1s cubic-bezier(0.07, 0.95, 0, 1);
  -ms-transition: opacity var(--default-transition-duration) var(--default-transition-timing), -ms-transform var(--default-transition-duration) var(--default-transition-timing);
  -o-transition: opacity 1s cubic-bezier(0.07, 0.95, 0, 1), -o-transform 1s cubic-bezier(0.07, 0.95, 0, 1);
  -o-transition: opacity var(--default-transition-duration) var(--default-transition-timing), -o-transform var(--default-transition-duration) var(--default-transition-timing);
  transition: opacity 1s cubic-bezier(0.07, 0.95, 0, 1), transform 1s cubic-bezier(0.07, 0.95, 0, 1);
  transition: opacity var(--default-transition-duration) var(--default-transition-timing), transform var(--default-transition-duration) var(--default-transition-timing);
  opacity: 0;
  visibility: hidden;
}
.example-graph-container,
.legend-bindto-container {
  padding: 2.17rem 0;
}

.carbon-graph-container,
.carbon-timeline-container,
.legend-bindto-container {
  font-size: 0.75rem;
}

.bindto-container {
  display: flex;
  width: 100%;
}
.bindto-container .legend-bindto-container {
  width: 20%;
}
.bindto-container .legend-bindto-graph-container {
  width: 80%;
}

.tooltip {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  font-family: "Segoe UI", sans-serif;
  font-size: 0.866rem;
  font-weight: 400;
  letter-spacing: 0.01071em;
  line-height: 1.5;
  padding: 1rem;
  position: fixed;
  z-index: 20;
}
.tooltip .popup-item {
  display: block;
}
.tooltip .section {
  display: block;
  padding-left: 1rem;
}
.tooltip .content {
  display: block;
}
.tooltip .content:last-child {
  padding-bottom: 0;
}
.tooltip .content:not(:last-child) {
  padding-bottom: 0.5rem;
}
.tooltip g {
  display: inline-block;
}
.tooltip g .popup-label {
  color: #01579b;
}
.tooltip g .popup-label::after {
  content: ": ";
}
.tooltip g .popup-text {
  color: #000;
}
.tooltip g:not(:last-child) {
  padding-bottom: 0.5rem;
}

.overlay {
  cursor: pointer;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1200;
}

.shape-container {
  width: 100%;
}

.panning-container {
  display: flex;
  padding: 1rem;
}
.panning-container .nav-left,
.panning-container .nav-right {
  background-color: #176ba0;
  border: 0.1rem solid #dedfe0;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  font-size: inherit;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.custom-container-style {
  border: 1px dashed;
  height: auto !important;
  padding: 5rem 5rem 0;
}
.custom-container-style .carbon-graph-container,
.custom-container-style .legend-bindto-container {
  padding: 0;
}

.custom-container-legend-style .carbon-graph-container,
.custom-container-legend-style .legend-bindto-container {
  padding: 0;
}

.background-color-class {
  background-color: #176ba0;
}

.initial-tooltip {
  display: none;
}

.button-pan-right {
  margin-top: 15px;
}

.button-pan-left {
  margin-left: 18px;
  margin-right: 10px;
  margin-top: 15px;
}
