@import '../colors.module';
@import '../Variables.module';

.carbon-y-axis-track-label {
  .tick > text {
    &[aria-disabled='false'] {
      cursor: pointer;
    }
  }
}

.carbon-data-task {
  cursor: pointer;

  &[aria-disabled='true'] {
    cursor: default;
  }
}

.carbon-data-track-group {
  .carbon-selected-data-point {
    @include terra-graph-selected-indicator-styles();

    &[aria-hidden='true'] {
      @include terra-graph-opacity-hide();
    }
  }
}

.carbon-data-selected-bar {
  @include terra-graph-selected-indicator-styles();
  @include terra-graph-carbon-shape-rendering();
  display: block;

  &[aria-hidden='true'] {
    @include terra-graph-opacity-hide();
  }
}

.carbon-track-selected-bar {
  display: block;
  fill-opacity: 0;

  &[aria-disabled='false'] {
    cursor: pointer;
  }

  &[aria-selected='true'] {
    @include terra-graph-selected-indicator-styles();
    @include terra-graph-carbon-shape-rendering();
  }
}
