@import '../Variables.module';

:root {
  --line-transition-duration: 0.3s;
}

.carbon-line path {
  /* To counteract the opacity change when blur is used on a line */
  @include terra-graph-basic-transition(
    opacity,
    var(--line-transition-duration),
    var(--default-transition-timing)
  );

  fill: none;
  stroke-width: 1px;

  &.carbon-highlight {
    @include terra-graph-transform-transition(
      stroke,
      var(--default-transition-duration),
      var(--default-transition-timing)
    );
    stroke-width: 2px;
  }

  &[aria-hidden='true'] {
    @include terra-graph-opacity-hide();
  }
}
