:root {
<<<<<<< HEAD
  --terra-graphs-white: #fff;
  --terra-graphs-dark: #1c1f21;
  --terra-graphs-grey5: #f4f4f4;
  --terra-graphs-grey10: #e8e9ea;
  --terra-graphs-grey15: #dedfe0;
  --terra-graphs-grey25: #c8cacb;
  --terra-graphs-grey30: #bcbfc0;
  --terra-graphs-grey45: #9b9fa1;
  --terra-graphs-grey65: #6f7477;
  --terra-graphs-blue100: #004c76;
  --terra-graphs-blue30: #a6d9f4;
  --terra-graphs-blue10: #ebf6fd;
  --terra-graphs-red85: #c00;
  --terra-graphs-yellow60: #ffc20a;
  --terra-graphs-grey55: #868a8c;
=======
  --white: #fff;
  --dark: #1c1f21;
  --grey5: #f4f4f4;
  --grey10: #e8e9ea;
  --grey15: #dedfe0;
  --grey25: #c8cacb;
  --grey30: #bcbfc0;
  --grey45: #9b9fa1;
  --grey65: #6f7477;
  --blue100: #004c76;
  --blue30: #a6d9f4;
  --blue10: #ebf6fd;
  --red85: #c00;
  --yellow60: #ffc20a;
  --grey55: #868a8c;
>>>>>>> added bubble components
}
