@import 'Variables.module';
@import 'colors.module';

.carbon-svg-icon {
  display: inline-block;
  height: 0.625rem;
  width: 0.625rem;
}

.carbon-graph-container {
<<<<<<< HEAD
  color: var(--terra-graphs-dark);
=======
  color: var(--dark);
>>>>>>> added bubble components
  display: block;
  padding-bottom: 0.8333rem;
  padding-top: 0.8333rem;
  width: 100%;

  svg:not(:root) {
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.carbon-graph-canvas {
  @include terra-graph-font-smooth();
  box-sizing: border-box;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

.carbon-axis path.domain,
.carbon-axis line {
  fill: none;
<<<<<<< HEAD
  stroke: var(--terra-graphs-grey30);
=======
  stroke: var(--grey30);
>>>>>>> added bubble components
}

.carbon-grid line,
.carbon-content-container {
  @include terra-graph-carbon-shape-rendering();
}

.carbon-axis-x,
.carbon-axis-y,
.carbon-axis-y2,
.carbon-axis-info-row {
  &[aria-hidden='true'] {
    display: none;
  }
}

.carbon-axis {
  &.carbon-axis-reference-line {
<<<<<<< HEAD
    stroke: var(--terra-graphs-grey30);
=======
    stroke: var(--grey30);
>>>>>>> added bubble components
    stroke-width: 2px;
  }
}

.carbon-grid {
  > * .domain[stroke] {
<<<<<<< HEAD
    stroke: var(--terra-graphs-grey10);
  }

  line {
    stroke: var(--terra-graphs-grey10);
=======
    stroke: var(--grey10);
  }

  line {
    stroke: var(--grey10);
>>>>>>> added bubble components
  }
}

.carbon-lower-step-grid line {
  stroke: #9b9b9b;
  stroke-width: 1px;
}

.carbon-midpoint-grid line {
<<<<<<< HEAD
  stroke: var(--terra-graphs-grey10);
=======
  stroke: var(--grey10);
>>>>>>> added bubble components
  stroke-width: 1px;
}

.carbon-upper-step-grid line {
<<<<<<< HEAD
  stroke: var(--terra-graphs-grey30);
=======
  stroke: var(--grey30);
>>>>>>> added bubble components
  stroke-width: 3px;
}

.carbon-no-data-text {
<<<<<<< HEAD
  fill: var(--terra-graphs-dark);
=======
  fill: var(--dark);
>>>>>>> added bubble components
}

.carbon-legend {
  align-content: center;
  display: flex;
  flex: 1 1 100%;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  .carbon-legend-item {
    align-items: center;
    display: flex;
    margin: 0.5rem;
    outline: 0;
    user-select: none;

    .carbon-legend-item-btn {
      align-content: center;
      align-self: flex-start;
<<<<<<< HEAD
      background-color: var(--terra-graphs-grey15);
=======
      background-color: var(--grey15);
>>>>>>> added bubble components
      border: 0;
      border-radius: 0.25rem;
      flex-shrink: 0;
      font-size: inherit;
      height: 1.875rem;
      margin-right: 0.5rem;
      padding: 0;
      width: 2.1875rem;
    }

    .carbon-legend-item-text {
      word-wrap: break-word;
    }

    &[aria-disabled='false'] {
      cursor: pointer;

      &:hover {
<<<<<<< HEAD
        background-color: var(--terra-graphs-blue10);
=======
        background-color: var(--blue10);
>>>>>>> added bubble components
      }

      .carbon-legend-item-btn,
      .carbon-legend-item-text {
        cursor: pointer;
      }
    }

    &[aria-disabled='true'] {
      .carbon-legend-item-btn,
      .carbon-legend-item-text {
        outline: none;
      }

      .carbon-legend-item-btn {
        opacity: 0.35;
      }

      .carbon-legend-item-text {
<<<<<<< HEAD
        color: var(--terra-graphs-grey30);
=======
        color: var(--grey30);
>>>>>>> added bubble components
      }
    }

    .carbon-legend-item-icon {
      display: block;
<<<<<<< HEAD
      stroke: var(--terra-graphs-white);
=======
      stroke: var(--white);
>>>>>>> added bubble components
      stroke-width: 5px;
    }

    .carbon-legend-item-span {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }

    .carbon-legend-item-line {
      height: 5px;
      padding-top: 1px;
      width: 28px;
    }

    .carbon-legend-item-line-with-icon {
      height: 5px;
      padding-top: 1px;
      width: 18px;
    }

    .carbon-legend-white-line {
<<<<<<< HEAD
      stroke: var(--terra-graphs-white);
=======
      stroke: var(--white);
>>>>>>> added bubble components
      stroke-width: 6px;
    }
  }

  .carbon-legend-item[aria-current='false'] {
    .carbon-legend-item-btn {
<<<<<<< HEAD
      background-color: var(--terra-graphs-white);
      border-color: var(--terra-graphs-grey15);
=======
      background-color: var(--white);
      border-color: var(--grey15);
>>>>>>> added bubble components
      border-style: solid;
      border-width: 1px;
    }

    .carbon-legend-item-text {
<<<<<<< HEAD
      color: var(--terra-graphs-grey65);
=======
      color: var(--grey65);
>>>>>>> added bubble components
    }
  }
}

.carbon-blur {
  @include terra-graph-basic-transition(
    opacity,
    var(--default-transition-duration),
    var(--default-transition-timing)
  );
  opacity: 0.2;
}

.carbon-point {
  &[aria-disabled='false'] {
    cursor: pointer;
  }

  &[aria-hidden='true'] {
    @include terra-graph-opacity-hide();
  }
}

.carbon-selected-data-point {
  display: block;
<<<<<<< HEAD
  fill: var(--terra-graphs-blue10);
  fill-opacity: 0.25;
  stroke: var(--terra-graphs-blue30);
=======
  fill: var(--blue10);
  fill-opacity: 0.25;
  stroke: var(--blue30);
>>>>>>> added bubble components

  &[aria-hidden='true'] {
    @include terra-graph-opacity-hide();
  }

  path {
    stroke-width: 1px;
  }
}

.carbon-criticality-outer,
.carbon-criticality-inner {
  &[aria-hidden='true'] {
    @include terra-graph-opacity-hide();
  }
}

.carbon-criticality-outer {
<<<<<<< HEAD
  fill: var(--terra-graphs-red85);
  stroke: var(--terra-graphs-red85);
=======
  fill: var(--red85);
  stroke: var(--red85);
>>>>>>> added bubble components
  stroke-width: 24px;
}

.carbon-criticality-inner {
<<<<<<< HEAD
  fill: var(--terra-graphs-white);
  stroke: var(--terra-graphs-white);
=======
  fill: var(--white);
  stroke: var(--white);
>>>>>>> added bubble components
  stroke-width: 8px;
}

.carbon-region {
<<<<<<< HEAD
  fill: var(--terra-graphs-grey5);
=======
  fill: var(--grey5);
>>>>>>> added bubble components

  &[aria-hidden='true'],
  &.carbon-region-blur {
    @include terra-graph-opacity-hide();
  }

  &.carbon-value-region {
<<<<<<< HEAD
    stroke: var(--terra-graphs-grey5);
=======
    stroke: var(--grey5);
>>>>>>> added bubble components
    stroke-width: 0.625rem;
  }

  &.carbon-region-highlight {
    @include terra-graph-opacity-show();
  }
}

.carbon-content-container {
  fill: none;
<<<<<<< HEAD
  stroke: var(--terra-graphs-grey10);
=======
  stroke: var(--grey10);
>>>>>>> added bubble components
}

.carbon-data-completion-bar,
.carbon-data-bar {
  @include terra-graph-carbon-shape-rendering();
  stroke-width: 0;
  user-select: none;

  &[aria-disabled='false'] {
    cursor: pointer;
  }

  &[aria-hidden='true'] {
    @include terra-graph-opacity-hide();
  }
}

.carbon-axis-info-row-item {
  &[aria-hidden='true'] {
    @include terra-graph-opacity-hide();
  }

  &[aria-disabled='false'] {
    cursor: pointer;
  }
}

.carbon-dateline-group {
  .carbon-dateline {
    @include terra-graph-carbon-shape-rendering();
    opacity: 0.3;
    stroke-width: 3px;
  }

  .carbon-dateline-point {
    &[aria-disabled='false'] {
      cursor: pointer;
    }

    &[aria-hidden='true'] {
      @include terra-graph-opacity-hide();
    }
  }
}

.carbon-eventline-group {
  .carbon-eventline {
    @include terra-graph-carbon-shape-rendering();
    opacity: 1;
    stroke-width: 2px;
  }
}

.carbon-no-data-label {
<<<<<<< HEAD
  fill: var(--terra-graphs-grey65);
=======
  fill: var(--grey65);
>>>>>>> added bubble components
  font-size: 1.25rem;
  text-anchor: middle;
}

.carbon-no-data-overlay {
<<<<<<< HEAD
  fill: var(--terra-graphs-white);
=======
  fill: var(--white);
>>>>>>> added bubble components
  opacity: 0.6;
}

.carbon-label-popup-tooltip {
  background-color: #fff;
  border-radius: 4px;
  -moz-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.866rem;
  font-weight: 400;
  letter-spacing: 0.01071em;
  line-height: 1.5;
  padding: 1rem;
  position: absolute;
  z-index: 20;

  &.popup-item {
    display: block;
  }

  &.section {
    display: block;
    padding-left: 1rem;
  }

  &.content {
    display: block;

    &:last-child {
      padding-bottom: 0;
    }

    &:not(:last-child) {
      padding-bottom: 0.5rem;
    }
  }

  g {
    display: inline-block;

    &.popup-label {
      color: #01579b;

      &::after {
        content: ': ';
      }
    }

    &.popup-text {
      color: #000;
    }

    &:not(:last-child) {
      padding-bottom: 0.5rem;
    }
  }
}

.carbon-label-popup-overlay {
  cursor: pointer;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1200;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

#initial_tooltip {
  display :none;
}
>>>>>>> added bubble components
=======
>>>>>>> minor updates
