@import 'Variables.module';
@import 'colors.module';

svg:not(:root) {
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

<<<<<<< HEAD
.carbon-svg-icon {
=======
.carbon-svgIcon {
>>>>>>> 3b63910... Made changes to folder structure
  display: inline-block;
  height: 0.625rem;
  width: 0.625rem;
}

.carbon-graph-container {
  color: var(--dark);
  display: block;
  padding-bottom: 0.8333rem;
  padding-top: 0.8333rem;
  width: 100%;
}

.carbon-graph-canvas {
<<<<<<< HEAD
  @include terra-graph-font-smooth();
=======
>>>>>>> 3b63910... Made changes to folder structure
  box-sizing: border-box;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
<<<<<<< HEAD
=======
  @include font-smooth();
>>>>>>> 3b63910... Made changes to folder structure
}

.carbon-axis path.domain,
.carbon-axis line {
  fill: none;
  stroke: var(--grey30);
}

.carbon-grid line,
.carbon-content-container {
<<<<<<< HEAD
  @include terra-graph-carbon-shape-rendering();
=======
  @include carbon-shape-rendering();
>>>>>>> 3b63910... Made changes to folder structure
}

.carbon-axis-x,
.carbon-axis-y,
.carbon-axis-y2,
.carbon-axis-info-row {
  &[aria-hidden='true'] {
    display: none;
  }
}

.carbon-axis {
  &.carbon-axis-reference-line {
<<<<<<< HEAD
    stroke: var(--grey30);
    stroke-width: 2px;
=======
    stroke-width: 2px;
    stroke: var(--grey30);
>>>>>>> 3b63910... Made changes to folder structure
  }
}

.carbon-grid {
  > * .domain[stroke] {
    stroke: var(--grey10);
  }
<<<<<<< HEAD

  line {
=======
  & line {
>>>>>>> 3b63910... Made changes to folder structure
    stroke: var(--grey10);
  }
}

.carbon-lower-step-grid line {
  stroke: #9b9b9b;
  stroke-width: 1px;
}

.carbon-midpoint-grid line {
  stroke: var(--grey10);
  stroke-width: 1px;
}

.carbon-upper-step-grid line {
  stroke: var(--grey30);
  stroke-width: 3px;
}

.carbon-no-data-text {
  fill: var(--dark);
}

.carbon-legend {
<<<<<<< HEAD
  align-content: center;
  display: flex;
  flex: 1 1 100%;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  .carbon-legend-item {
    align-items: center;
    display: flex;
=======
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  flex: 1 1 100%;
  margin: 0;
  padding: 0;

  & .carbon-legend-item {
    display: flex;
    align-items: center;
>>>>>>> 3b63910... Made changes to folder structure
    margin: 0.5rem;
    outline: 0;
    user-select: none;

<<<<<<< HEAD
    .carbon-legend-item-btn {
      align-content: center;
      align-self: flex-start;
      background-color: var(--grey15);
      border: 0;
      border-radius: 0.25rem;
      flex-shrink: 0;
      font-size: inherit;
      height: 1.875rem;
      margin-right: 0.5rem;
      padding: 0;
      width: 2.1875rem;
    }

    .carbon-legend-item-text {
      word-wrap: break-word;
    }

    &[aria-disabled='false'] {
      cursor: pointer;

      &:hover {
        background-color: var(--blue10);
      }

      .carbon-legend-item-btn,
      .carbon-legend-item-text {
=======
    & .carbon-legend-item-btn {
      font-size: inherit;
      align-self: flex-start;
      align-content: center;
      margin-right: 0.5rem;
      padding: 0;
      height: 1.875rem;
      width: 2.1875rem;
      border-radius: 0.25rem;
      border: 0;
      background-color: var(--grey15);
      flex-shrink: 0;
    }

    & .carbon-legend-item-text {
      word-wrap: break-word;
    }

    &[aria-disabled="false"] {
      cursor: pointer;
      &:hover {
        background-color: var(--blue10);
      }
      & .carbon-legend-item-btn,
      & .carbon-legend-item-text {
>>>>>>> 3b63910... Made changes to folder structure
        cursor: pointer;
      }
    }

<<<<<<< HEAD
    &[aria-disabled='true'] {
      .carbon-legend-item-btn,
      .carbon-legend-item-text {
        outline: none;
      }

      .carbon-legend-item-btn {
        opacity: 0.35;
      }

      .carbon-legend-item-text {
        color: var(--grey30);
      }
    }

    .carbon-legend-item-icon {
=======
    &[aria-disabled="true"] {
      & .carbon-legend-item-btn,
      & .carbon-legend-item-text {
        outline: none;
      }

        .carbon-legend-item-btn {
          opacity: 0.35;
        }
        .carbon-legend-item-text {
          color: var(--grey30);
        }
    }

    & .carbon-legend-item-icon {
>>>>>>> 3b63910... Made changes to folder structure
      display: block;
      stroke: var(--white);
      stroke-width: 5px;
    }

<<<<<<< HEAD
    .carbon-legend-item-span {
=======
    & .carbon-legend-item-span {
>>>>>>> 3b63910... Made changes to folder structure
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }

<<<<<<< HEAD
    .carbon-legend-item-line {
      height: 5px;
      padding-top: 1px;
      width: 28px;
    }

    .carbon-legend-item-line-with-icon {
      height: 5px;
      padding-top: 1px;
      width: 18px;
    }

    .carbon-legend-white-line {
=======
    & .carbon-legend-item-line {
      height: 5px;
      width: 28px;
      padding-top: 1px;
    }

    & .carbon-legend-item-line-with-icon {
      height: 5px;
      width: 18px;
      padding-top: 1px;
    }

    & .carbon-legend-white-line {
>>>>>>> 3b63910... Made changes to folder structure
      stroke: var(--white);
      stroke-width: 6px;
    }
  }

<<<<<<< HEAD
  .carbon-legend-item[aria-current='false'] {
    .carbon-legend-item-btn {
=======
  & .carbon-legend-item[aria-current="false"] {
    & .carbon-legend-item-btn {
>>>>>>> 3b63910... Made changes to folder structure
      background-color: var(--white);
      border-color: var(--grey15);
      border-style: solid;
      border-width: 1px;
    }

<<<<<<< HEAD
    .carbon-legend-item-text {
=======
    & .carbon-legend-item-text {
>>>>>>> 3b63910... Made changes to folder structure
      color: var(--grey65);
    }
  }
}

.carbon-blur {
<<<<<<< HEAD
  @include terra-graph-basic-transition(
=======
  opacity: 0.2;
  @include basic-transition(
>>>>>>> 3b63910... Made changes to folder structure
    opacity,
    var(--default-transition-duration),
    var(--default-transition-timing)
  );
<<<<<<< HEAD
  opacity: 0.2;
}

.carbon-point {
  &[aria-disabled='false'] {
    cursor: pointer;
  }

  &[aria-hidden='true'] {
    @include terra-graph-opacity-hide();
=======
}

.carbon-point {
  &[aria-disabled="false"] {
    cursor: pointer;
  }

  &[aria-hidden="true"] {
    @include opacity-hide();
>>>>>>> 3b63910... Made changes to folder structure
  }
}

.carbon-selected-data-point {
  display: block;
<<<<<<< HEAD
  fill: var(--blue10);
  fill-opacity: 0.25;
  stroke: var(--blue30);

  &[aria-hidden='true'] {
    @include terra-graph-opacity-hide();
=======
  stroke: var(--blue30);
  fill: var(--blue10);
  fill-opacity: 0.25;

  &[aria-hidden="true"] {
    @include opacity-hide();
>>>>>>> 3b63910... Made changes to folder structure
  }

  path {
    stroke-width: 1px;
  }
}

.carbon-criticality-outer,
.carbon-criticality-inner {
<<<<<<< HEAD
  &[aria-hidden='true'] {
    @include terra-graph-opacity-hide();
=======
  &[aria-hidden="true"] {
    @include opacity-hide();
>>>>>>> 3b63910... Made changes to folder structure
  }
}

.carbon-criticality-outer {
  fill: var(--red85);
  stroke: var(--red85);
  stroke-width: 24px;
}

.carbon-criticality-inner {
  fill: var(--white);
  stroke: var(--white);
  stroke-width: 8px;
}

.carbon-region {
  fill: var(--grey5);

<<<<<<< HEAD
  &[aria-hidden='true'],
  &.carbon-region-blur {
    @include terra-graph-opacity-hide();
=======
  &[aria-hidden="true"],
  &.carbon-region-blur {
    @include opacity-hide();
>>>>>>> 3b63910... Made changes to folder structure
  }

  &.carbon-value-region {
    stroke: var(--grey5);
    stroke-width: 0.625rem;
  }

  &.carbon-region-highlight {
<<<<<<< HEAD
    @include terra-graph-opacity-show();
=======
    @include opacity-show();
>>>>>>> 3b63910... Made changes to folder structure
  }
}

.carbon-content-container {
  fill: none;
  stroke: var(--grey10);
}

.carbon-data-completion-bar,
.carbon-data-bar {
<<<<<<< HEAD
  @include terra-graph-carbon-shape-rendering();
  stroke-width: 0;
  user-select: none;
=======
  user-select: none;
  @include carbon-shape-rendering();

  stroke-width: 0;
>>>>>>> 3b63910... Made changes to folder structure

  &[aria-disabled='false'] {
    cursor: pointer;
  }

  &[aria-hidden='true'] {
<<<<<<< HEAD
    @include terra-graph-opacity-hide();
=======
    @include opacity-hide();
>>>>>>> 3b63910... Made changes to folder structure
  }
}

.carbon-axis-info-row-item {
  &[aria-hidden='true'] {
<<<<<<< HEAD
    @include terra-graph-opacity-hide();
=======
    @include opacity-hide();
>>>>>>> 3b63910... Made changes to folder structure
  }

  &[aria-disabled='false'] {
    cursor: pointer;
  }
}

.carbon-dateline-group {
  .carbon-dateline {
<<<<<<< HEAD
    @include terra-graph-carbon-shape-rendering();
    opacity: 0.3;
    stroke-width: 3px;
=======
    opacity: 0.3;
    stroke-width: 3px;
    @include carbon-shape-rendering();
>>>>>>> 3b63910... Made changes to folder structure
  }

  .carbon-dateline-point {
    &[aria-disabled='false'] {
      cursor: pointer;
    }

    &[aria-hidden='true'] {
<<<<<<< HEAD
      @include terra-graph-opacity-hide();
=======
      @include opacity-hide();
>>>>>>> 3b63910... Made changes to folder structure
    }
  }
}

.carbon-eventline-group {
  .carbon-eventline {
<<<<<<< HEAD
    @include terra-graph-carbon-shape-rendering();
    opacity: 1;
    stroke-width: 2px;
=======
    stroke-width: 2px;
    opacity: 1;
    @include carbon-shape-rendering();
>>>>>>> 3b63910... Made changes to folder structure
  }
}

.carbon-no-data-label {
  fill: var(--grey65);
  font-size: 1.25rem;
  text-anchor: middle;
}

.carbon-no-data-overlay {
  fill: var(--white);
  opacity: 0.6;
}

.carbon-label-popup-tooltip {
<<<<<<< HEAD
  background-color: #fff;
  border-radius: 4px;
=======
  position: absolute;
  padding: 1rem;
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.866rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01071em;
  background-color: #fff;
  z-index: 20;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
>>>>>>> 3b63910... Made changes to folder structure
  -moz-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
<<<<<<< HEAD
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.866rem;
  font-weight: 400;
  letter-spacing: 0.01071em;
  line-height: 1.5;
  padding: 1rem;
  position: absolute;
  z-index: 20;
=======
>>>>>>> 3b63910... Made changes to folder structure

  &.popup-item {
    display: block;
  }

  &.section {
    display: block;
    padding-left: 1rem;
  }

  &.content {
    display: block;

    &:last-child {
      padding-bottom: 0;
    }

    &:not(:last-child) {
      padding-bottom: 0.5rem;
    }
  }

<<<<<<< HEAD
  g {
=======
  & g {
>>>>>>> 3b63910... Made changes to folder structure
    display: inline-block;

    &.popup-label {
      color: #01579b;

<<<<<<< HEAD
      &::after {
=======
      &:after {
>>>>>>> 3b63910... Made changes to folder structure
        content: ': ';
      }
    }

    &.popup-text {
      color: #000;
    }

    &:not(:last-child) {
      padding-bottom: 0.5rem;
    }
  }
}

.carbon-label-popup-overlay {
  cursor: pointer;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1200;
}
